.event-title {
  margin: 56px auto;
  font-size: 34px;
  line-height: 106%;
  color: rgba(0, 0, 0, 0.87);
  font-weight: normal;
  font-style: normal;
}
.event-view-page {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .left-group {
    .event-image {
      height: 320px;
      width: 560px;
      object-fit: cover;
      object-position: top;
      border-radius: 8px;
    }

    .event-description {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.5px;
      color: rgba(0, 0, 0, 0.6);
    }

    .back-to-menu-button {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 114%;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      color: #2e7d32;
      margin: 0px 0px;
    }

    .subscribe-button {
      font-weight: 500;
      font-size: 14px;
      line-height: 114%;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      color: #ffffff;
      margin: 0px 0px;
    }
  }

  .right-group {
    text-align: left;
    margin-left: 112px;
    .event-date {
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.15px;
      color: rgba(0, 0, 0, 0.87);
      margin: 0px 12px;
    }

    .event-time {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.15px;
      color: rgba(0, 0, 0, 0.87);
      margin: 0px 12px;
    }

    .event-place {
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.15px;
      color: rgba(0, 0, 0, 0.87);
    }

    .status {
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.15px;
      color: rgba(0, 0, 0, 0.87);
      margin: 0px 12px;
    }

    .max-members {
      font-weight: normal;
      font-size: 12px;
      line-height: 133%;
      letter-spacing: 0.4px;
      color: rgba(0, 0, 0, 0.6);
    }

    .current {
      font-weight: normal;
      font-size: 12px;
      line-height: 133%;
      letter-spacing: 0.4px;
      color: rgba(0, 0, 0, 0.6);
    }

    .subs {
      font-weight: normal;
      font-size: 14px;
      line-height: 143%;
      letter-spacing: 0.25px;
      text-decoration-line: underline;
      color: #0d47a1;
    }
  }
}
