// bg, btn
$main-bg: white;
//text, border
$text_color_black: rgba(0, 0, 0, 0.87);
$text_color_main: #000000;
$button_border: #a5d6a7;
$primary_green: #2E7D32;
$search_border: #60ad5e;

// link
$primary_link: #005005;
